* {
  outline: 1px solid white;
}

body {
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ef2026;
}

.header {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  border: 2px solid #333;
  background-color: white;
}

.grid-square {
  width: 30px;
  height: 30px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.grid-square.hovered {
  background-color: #4caf50;
}

.logo {
  color: #333;
  margin: 0;
  height: auto;
  margin: 20px 0;
  align-self: center;
}
button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px;
    width: 120px;
    text-align: center;
}

button:hover {
    background-color: #45a049;
}
